<?xml version="1.0" ?>
<robot name="simple_mockup">
  <link name="base_link" />

    <link name="bar_hor">
    <visual>
      <geometry>
        <mesh filename="package://simple_mockup_description/meshes/simple_mockup/bar_hor.dae" />
      </geometry>
      <material name="default">
        <color rgba="1.0 1.0 1.0 1" />
      </material>
    </visual>

  </link>
  <joint name="bar_hor" type="fixed">
    <parent link="base_link" />
    <child link="bar_hor" />
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
  </joint>

  <link name="bar_inc">
    <visual>
      <geometry>
        <mesh filename="package://simple_mockup_description/meshes/simple_mockup/bar_inc.dae" />
      </geometry>
      <material name="default">
        <color rgba="1.0 1.0 1.0 1" />
      </material>
    </visual>

  </link>
  <joint name="bar_inc" type="fixed">
    <parent link="base_link" />
    <child link="bar_inc" />
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
  </joint>

  <link name="bar_ver">
    <visual>
      <geometry>
        <mesh filename="package://simple_mockup_description/meshes/simple_mockup/bar_ver.dae" />
      </geometry>
      <material name="default">
        <color rgba="1.0 1.0 1.0 1" />
      </material>
    </visual>

  </link>
  <joint name="bar_ver" type="fixed">
    <parent link="base_link" />
    <child link="bar_ver" />
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
  </joint>

  <link name="wall">
    <visual>
      <geometry>
        <mesh filename="package://simple_mockup_description/meshes/simple_mockup/wall.dae" />
      </geometry>
      <material name="default">
        <color rgba="1.0 1.0 1.0 1" />
      </material>
    </visual>
  </link>
  <joint name="wall" type="fixed">
    <parent link="base_link" />
    <child link="wall" />
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
  </joint>


  <link name="TopCylinder">
    <visual>
      <geometry>
        <cylinder length="0.62" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.62" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="TopCylinderJoint" type="fixed">
    <parent link="base_link" />
    <child link="TopCylinder" />
    <origin rpy="1.57 0.0 0.0" xyz="0.98 0.0 1.02" />
  </joint>


  <link name="MiddleCylinder">
    <visual>
      <geometry>
        <cylinder length="0.62" radius="0.03"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.62" radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="MiddleCylinderJoint" type="fixed">
    <parent link="base_link" />
    <child link="MiddleCylinder" />
    <origin rpy="1.57 0.0 0.0" xyz="1.08 0.0 1.12" />
  </joint>


  <link name="CylinderBarTop">
    <visual>
      <geometry>
        <cylinder length="0.18" radius="0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.18" radius="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="CylinderBarTop" type="fixed">
    <parent link="base_link" />
    <child link="CylinderBarTop" />
    <origin rpy="0.0 1.57 0.0" xyz="1 0.30 1.12" />
  </joint>


  <link name="LowerBox">
    <visual>
      <geometry>
        <box size="0.65 0.72 0.62"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.65 0.72 0.62"/>
      </geometry>
    </collision>
  </link>
  <joint name="LowerBoxJoint" type="fixed">
    <parent link="base_link" />
    <child link="LowerBox" />
    <origin rpy="1.57 0.0 0.0" xyz="0.9 0.0 0.35" />
  </joint>
</robot>
